.drugInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nameOfDrug {
  text-decoration: underline;
  font-weight: 600;
  font-size: 20px;
}

.idWrapper,
.nameWrapper,
.synonymWrapper {
  margin-top: 20px;
}

.idWrapper span:first-child,
.nameWrapper span:first-child,
.synonymWrapper span:first-child {
  font-weight: 600;
}
