.autocompleteInput {
  width: 400px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.autocompletePanel {
  width: 400px;
}

.autocompletePanel li {
  text-wrap: wrap;
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
